.banner {
    width: 100%;
    overflow: hidden;
    background-color: transparent;
    color: white;
    white-space: nowrap;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.text {
    display: inline-block;
    color: var(--fg-header);
    padding-left: 100%;
    animation: laufbanner 500ms linear infinite;
}

@keyframes laufbanner {
    0%   { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}