.sdt {
    color: var(--bg-header);
    font-weight: 800;
    font-size: larger;
}
.autor {
    color: rgb(75, 75, 75);
    font-weight: 100;
} 
.text {
    color: var(--fg-header);
    font-size: larger;
}
