.extra-container {
    display: grid;
    gap: 5px;
    margin-top: 5px;;
}
.course-container {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    row-gap: 5px;
}
.course {
    flex: 1 1 auto;
    display: flex;
    background-color: var(--bg-header);
    border-radius: 15px;
    padding: 1em;
    color: var(--fg-header);
    justify-content: center;
    align-items: center;
    margin: 5px;
    min-width: 200px;
    border: 2px solid;
    border-color: var(--bg-header);
}
.course img {
    height: 50px;
}
.course:hover,
.subject:hover {
    background-color: var(--bg-header);
    filter: brightness(1.1);
    cursor: pointer;
    box-shadow: 0 0 12px #44999999; 
    border-color: var(--fg-header);
    border: 1px solid;
}
.subject-container {
    display: grid;
    gap: 1em;    
    counter-reset: css-counter 0;
}
.subject {
    display: flex;
    background-color: #004c5c;
    border-radius: 15px;
    padding: 0;
    color: goldenrod;
    justify-content: center;
    align-items: center;
    counter-increment: css-counter 1;
    border: 2px solid;
    border-color: var(--bg-header);
}
.subject h4::before {
    content: counter(css-counter) ". ";
}
.ziele {

    /*background-color: #454545;
    border-radius: 15px; */
    padding-left: 10px;
}
.theorie {
    padding-left: 10px;
}