:root {
    --bg-global: #232323;
    --bg-header: #004c5c;
    --fg-text: #a8a7a7;
    --fg-header: darkgoldenrod;
    --bloom-bg: aqua;
    --bloom-fg: goldenrod;
    --shadow-fg: gold;
}

body {
    background-color: var(--bg-global);
    color: var(--fg-text);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    display: grid;
    grid-template: 
        "header header   header  header" auto
        "nav    nav      nav     nav"    auto
        "main   main     main    aside"  1fr
        "footer footer   footer  footer" auto /
        1fr     1fr      1fr     1fr;
}
@media screen and (max-width: 700px) {
    body {
        grid-template: 
            "header" auto
            "nav"    auto
            "aside"  auto
            "main"   1fr
            "footer" auto /
            1fr;
    }
    
}
header {
    grid-area: header;
    background: var(--bg-header);
    color: var(--fg-header);
    display: flex;
    justify-content: center;
}
nav {
    grid-area: nav;
    background: var(--bg-header);
    color: var(--fg-header);

    display: flex;
    flex-wrap: wrap;

}
main {
    grid-area: main;
    padding-left: 10px;
    padding-right: 10px;
}
aside {
    grid-area: aside;

}

footer {
    grid-area: footer;

}
section {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}