:root {
    --bg-color: #232323;
}

body {
    height: 100vh;
    overflow: hidden;
    background-color: var(--bg-color);

    display: grid;
    grid-template: 
        "header header   header  header" auto
        "nav    nav      nav     nav"    auto
        "aside  main     main    main"  1fr
        "footer footer   footer  footer" auto /
        1fr     1fr      1fr     1fr;
    grid-gap: 0.3rem;
}
@media screen and (max-width: 700px) {
    body {
        grid-template: 
            "header" auto
            "nav"    auto
            "aside"  auto
            "main"   1fr
            "footer" auto /
            1fr;
    }
    
}
header {
    grid-area: header;
    background: red;
}
main {
    grid-area: main;
    background: green;
}
aside {
    grid-area: aside;
    background: yellow;
}
nav {
    grid-area: nav;
    background: blue;
}
footer {
    grid-area: footer;
    background: orange;
}