a {
    cursor: pointer;
    color: var(--fg-header);
    text-decoration: none;
}
a:hover {
    color: var(--bloom-fg);
    text-shadow: 0 0 1em var(--shadow-fg);
}
.teaser {
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 300px;
}
.header-menu {
    display: flex;
    align-items: center;
  }
  
  .header-menu a {
    margin-left: 10px;
  }
  
  .hamburger-menu {
    display: none;
    cursor: pointer;
  }
  
  .hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: var(--fg-header);
    margin-bottom: 5px;
  }
  @media (max-width: 700px) {
    .header {
      flex-direction: column;
      text-align: center;
    }
  
    .header-menu {
      margin-top: 10px;
    }
  
    .hamburger-menu {
      display: block;
    }
  
    .header-menu a {
      display: none;
    }
    .active-menu .header-menu {
        display: flex;
      }
  }