body {
  margin: 0px;
  font-family: "segoe ui";
}

a {
  cursor: pointer;
  color: var(--fg-header);
  text-decoration: none;
}

a:hover {
  color: var(--bloom-fg);
  text-shadow: 0 0 1em var(--shadow-fg);
}

.scale {
  scale: 1.2;
}

.teaser,
.teaserMath,
.teaserSun {
  padding-top: 20px;
  display: flex;
  justify-content: center;

  height: 250px;
}

.teaserMath {
  height: 270px;
}

.teaserSun {
  height: 400px;
}
.tabelle {
  display: flex;
  justify-content: center;
}
.tabelle tr, td {
  border-collapse:collapse;
  
  text-align: center;
  border: 1px solid black;

  padding: 5px;
  
}
table {
  border-collapse: collapse;
  border-style: hidden;
}

@media screen and (max-width: 700px) {
  .scale {
    scale: 1;
    overflow: hidden;
  }
}