:root {
    --accent-color: green;
}
.mathe {
    --accent-color: #00095d;
}
.info {
    --accent-color: #002c11;
}
.physik {
    --accent-color: #5c0000;
}
.next {
    --accent-color: #d64d02;
}
.final {
  --accent-color: #730000;
}
.future {
  --accent-color: #0a720d;
}
.past {
    --accent-color: gray;
}

/* Klassenweise Farben */
/* Mathe */
.mathe7 {
  --accent-color: #00095d;
}
.mathe8 {
  --accent-color: #001a5a;
}
.mathe9 {
  --accent-color: #003057;
}
.mathe10 {
  --accent-color: #004055;
}
.mathe11 {
  --accent-color: #004d52;
}
.mathe12 {
  --accent-color: #00594e;
}
.mathe13 {
  --accent-color: #006645;
}

.timeline {

    /*min-height: 100vh; */
    display: grid;
    align-content: center;
    gap: 1rem;
    padding: 0;
    color: var(--fg-text);
    /*background: var(--bgColor); */
  }
.timeline-header {
    text-align: center;
}
  .timeline h2 {
    text-align: center;
  }

  .timeline ul {
    --col-gap: 2rem;
    --row-gap: 2rem;
    --line-w: 0.25rem;
    display: grid;
    grid-template-columns: var(--line-w) 1fr;
    grid-auto-columns: max-content;
    column-gap: var(--col-gap);
    list-style: none;
    width: min(60rem, 90%);
    margin-inline: auto;
  }
  
  /* line */
  .timeline ul::before {
    content: "";
    grid-column: 1;
    grid-row: 1 / span 20;
    background: var(--bg-global);
    filter: brightness(1.5);
    border-radius: calc(var(--line-w) / 2);
  }
  
  /* columns*/
  
  /* row gaps */
  .timeline ul li:not(:last-child) {
    margin-bottom: var(--row-gap);
  }
  
  /* card */
  .timeline ul li {
    grid-column: 2;
    --inlineP: 1.5rem;
    margin-inline: var(--inlineP);
    grid-row: span 2;
    display: grid;
    grid-template-rows: min-content min-content min-content;
  }
  
  /* date */
  .timeline ul li .date {
    --dateH: 3rem;
    height: var(--dateH);
    margin-inline: calc(var(--inlineP) * -1);
  
    text-align: center;
    background-color: var(--accent-color);
  
    color: var(--fg-text);
    font-size: 1.25rem;
    font-weight: 700;
  
    display: grid;
    place-content: center;
    position: relative;
  
    border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
  }
  
  /* date flap */
  .timeline ul li .date::before {
    content: "";
    width: var(--inlineP);
    aspect-ratio: 1;
    background: var(--accent-color);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
    position: absolute;
    top: 100%;
  
    clip-path: polygon(0 0, 100% 0, 0 100%);
    right: 0;
  }
  
  /* circle */
  .timeline ul li .date::after {
    content: "";
    position: absolute;
    width: 2rem;
    aspect-ratio: 1;
    background: var(--bg-global);
    filter: brightness(1.5);
    border: 0.25rem solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 50%;
    top: 50%;

  
    transform: translate(50%, -50%);
    right: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
.timeline .past .date::after {
    content: "✔"; /* ⧖ ☄ ⊝ */
  }
  .timeline .next .date::after {
    content: "~";
  }
  .timeline .final .date::after {
    content: "!";
  }
  .timeline .future .date::after {
    content: "↗";
  }
  .timeline .mathe .date::after {
    content: "Ma";
  }
  .timeline .mathe11 .date::after {
    content: "11";
  }
  .timeline .mathe12 .date::after {
    content: "12";
  }
  .timeline .mathe13 .date::after {
    content: "13";
  }
  .timeline .physik .date::after {
    content: "Phy";
  }
  .timeline .physik11 .date::after {
    content: "11";
  }
  .timeline .physik12 .date::after {
    content: "12";
  }
  .timeline .physik13 .date::after {
    content: "13";
  }
  .timeline .info .date::after {
    content: "Inf";
  }
  .timeline .info11 .date::after {
    content: "11";
  }
  .timeline .info12 .date::after {
    content: "12";
  }
  .timeline .info13 .date::after {
    content: "13";
  }
  
  /* title descr */
  .timeline ul li .title,
  .timeline ul li .descr {
    background: var(--bg-global);
    filter: brightness(1.5);
    position: relative;
    padding-inline: 1.5rem;
  }
  .timeline ul li .title {
    overflow: hidden;
    padding-block-start: 1.5rem;
    padding-block-end: 1rem;
    font-weight: 500;
    border-radius: 0 0 10px 10px;
  }
  .timeline ul li .descr {
    padding-block-end: 1.5rem;
    font-weight: 300;
  }
  
  /* shadows */
  .timeline ul li .title::before,
  .timeline ul li .descr::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 0.5rem;
    background: rgba(255, 255, 255, 0.2);
    left: 50%;
    border-radius: 50%;
    filter: blur(4px);
    transform: translate(-50%, 50%);
  }
  .timeline ul li .title::before {
    bottom: calc(100% + 0.125rem);
  }
  
  .timeline ul li .descr::before {
    z-index: -1;
    bottom: 0.25rem;
  }

  /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 350px;
  background-color: #454545;
  color: #a7a7a8;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 20;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}



  /* Hide the timeline by default on small screens */
@media screen and (max-width: 700px) {
    .timeline {
        display: none;
    }
    .timeline-header {
        cursor: pointer;
    }
}
