:root {
    --global-background: #232323;
    --global-background-light: #454545;
    --header-background: #004c5c;
    --header-text: darkgoldenrod;
    --global-text: #a7a7a8;
    --global-text-light: #c7c7c8;
}

/* Legacy:
:root {
    --bg-global: #232323;
    --bg-global-light: #454545;
    --bg-header: #004c5c;
    --fg-text: #a8a7a7;
    --fg-header: darkgoldenrod;
    --bloom-bg: aqua;
    --shadow-bg: #007c8c;
    --bloom-fg: goldenrod;
    --shadow-fg: gold;
    --aufgaben: lightblue;
    --loesungen: blanchedalmond;
}

*/